.news {
	display: flex;
	height: 100%;
	.left {
		background-color: #f5f7fb;
		flex: 0 0 380px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		padding-bottom: 16px;
		.top {
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 16px;
			.info {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
				flex-direction: column;

				border-bottom: 1px solid var(--border-primary);
				padding-bottom: 4px;
			}
		}
		.bottom {
			margin-top: 24px;
			display: flex;
			gap: 16px;
			flex-direction: column;
			flex: 1;
			.recents {
				height: calc(100vh - 270px);
				overflow: auto;
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
		}
		.button {
			width: 100%;
			display: flex;
			gap: 12px;
			button {
				width: 100%;
			}
		}
	}
	.right {
		overflow: auto;
		height: 100vh;
		padding: 24px;
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
}
