:root {
  --text-primary: #0f0f0f;
  --text-primary-white: #f2f3f5;
  --text-secondary: #5b5b5c;
  --text-secondary-1: #c0c0c2;

  --text-tertiary: #747475;

  --text-success: #f73131;
  // primary
  --color-primary-900: #958526;
  // yellow
  --color-yellow-50: #fff8d6;
  --color-yellow-200: #ffd800;

  --color-yellow-400: #f9e565;
  --color-yellow-500: #b6870f;
  --color-yellow-600: #7c6f20;

  // green
  --color-green-50: #dbffe4;
  --color-green-700: #006935;
  // purple
  --color-purple-50: #f2e5ff;
  --color-purple-primary: #8a40e8;
  // blue
  --color-blue-50: #e5ecff;
  --color-blue-700: #2451c2;
  // red
  --color-red-50: #ffe7e0;
  --color-red-400: #ba2525;

  --background-base: #fff;
  --border-primary: #dedfe0;
  --background-surface: #f2f3f5;
  // background
  --bg-surface: #f2f3f5;

  // gray
  --color-gray-100: #dedfe0;
  --color-gray-900: #0f0f0f;
}
