.head {
	padding: 12px 0;

	display: flex;
	gap: 8px;

	.avatar {
		width: 36px;
		height: 36px;
		border-radius: 99px;
	}
}

.modal {
	:global {
		.ant-upload-select {
			width: 32px !important;
			height: 32px !important;
			background-color: unset !important;
			border: none !important;
		}
	}
}

.formBtn {
	display: flex;
	align-items: center;
	gap: 12px;
	button {
		width: 100%;
		margin-top: 12px;

		padding: 8px 12px;
		height: 40px;
	}
}

.previewImages {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 12px;
	:global {
		.ant-skeleton-button {
			width: 75px !important;
			height: 75px !important;
		}
	}
}
