.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 491px;
  .divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    .line {
      height: 0.5px;
      width: 100%;
      background-color: var(--border-primary);
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
