.newItem {
	padding: 8px 0;
	width: 100%;
	border-radius: 12px;
	background-color: #f5f7fb;
	display: flex;
	flex-direction: column;
	gap: 8px;

	.head {
		padding: 12px 24px;

		display: flex;
		gap: 8px;
		position: relative;

		.avatar {
			width: 36px;
			height: 36px;
			border-radius: 99px;
		}

		.removeIcon {
			position: absolute;
			top: 8px;
			right: 8px;
			cursor: pointer;
		}

		.editIcon {
			position: absolute;
			top: 8px;
			right: 40px;
			cursor: pointer;
		}
	}

	.previewImages {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		padding: 12px;
		:global {
			.ant-image {
				width: 100%;
				height: 400px;
				border-radius: 8px;
				img {
					border-radius: 8px;
					object-fit: contain;
					height: 100%;
				}
			}
		}
	}
	.reaction {
		border-top: 1px solid var(--border-primary);
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 12px 24px;
		.item {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 4px;
		}
	}
	.listComments {
		padding: 0 12px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}
.chatItem {
	padding: 16px;
	display: flex;
	gap: 16px;
	background-color: #e6ebf5;
	border-radius: 8px;
	.avatar {
		width: 36px;
		height: 36px;
		object-fit: contain;
		border-radius: 999px;
		cursor: pointer;
	}
	.info {
		display: flex;
		flex-direction: column;
		gap: 4px;
		flex: 1;
		cursor: pointer;
	}
}

.richText {
	padding: 0 12px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	word-break: break-word;
	color: var(--text-primary);
}

.richTextComment {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	word-break: break-word;
	color: var(--text-secondary);
}
